<!-- Sign Up Form -->
<div class="container">
	<div class="heading-wrapper">
		<h1 mat-dialog-title>Register For IBEScore</h1>
	</div>

	<div class="form-container">
		<form
			class="example-form sign-up"
			[formGroup]="signUpForm"
			*ngIf="data.type == 'signUp'">
			<!-- Name Fields -->
			<mat-form-field>
				<mat-label>First Name</mat-label>
				<input
					type="text"
					matInput
					formControlName="firstName"
					[errorStateMatcher]="matcher"
					placeholder="Ex. John Doe" />
				<mat-error
					*ngIf="
						signUpForm.controls.firstName.errors?.rquired &&
						signUpForm.controls.firstName.touched
					">
					First name <strong>required</strong>
				</mat-error>
			</mat-form-field>
			<mat-form-field>
				<mat-label>Last Name</mat-label>
				<input
					type="text"
					matInput
					formControlName="lastName"
					[errorStateMatcher]="matcher"
					placeholder="Ex. John Doe" />
				<mat-error
					*ngIf="
						signUpForm.controls.lastName.errors?.required &&
						signUpForm.controls.lastName.touched
					">
					Last name <strong>required</strong>
				</mat-error>
			</mat-form-field>
			<!-- Email -->
			<mat-form-field class="example-full-width">
				<mat-label>Contact Email</mat-label>
				<input
					type="email"
					matInput
					formControlName="email"
					[errorStateMatcher]="matcher"
					placeholder="Ex. pat@example.com" />

				<mat-error *ngIf="signUpForm.controls.email.errors?.required">
					Email is <strong>required</strong>
				</mat-error>
				<mat-error *ngIf="signUpForm.controls.email.errors?.email">
					Valid email is <strong>required</strong>
				</mat-error>
				<span class="info"
					>This is the email address we will use to send your game code details and
					communicate with you about your account with IBEScore</span
				>
			</mat-form-field>
			<!-- <span class="info"
				>This is the email address we will use to send your game code details and
				communicate with you about your account with IBEScore</span
			> -->
			<!-- Subscription Type -->
			<span class="field-heading"
				>Which subscription are you intending to purchase after the trial period
				ends?<strong
					[class.error]="
						signUpForm.get('type').hasError('required') &&
						signUpForm.get('type').touched
					"
					class="required">
					*</strong
				></span
			><mat-radio-group formControlName="type">
				<mat-label class="field-heading">Choose Subscription Type</mat-label>
				<mat-radio-button
					class="radio-button type"
					*ngFor="let accountType of accountTypes"
					value="{{ accountType.typeCode }}"
					[class.error]="
						signUpForm.get('type').hasError('required') &&
						signUpForm.get('type').touched
					"
					>{{ accountType.name
					}}<span class="info"><br />{{ accountType.message }}<br /></span
				></mat-radio-button>
			</mat-radio-group>

			<!-- City -->
			<mat-form-field>
				<mat-label>City</mat-label>
				<input
					type="text"
					matInput
					formControlName="city" />
				<span
					class="error-span"
					*ngIf="
						signUpForm.get('city').hasError('pattern') &&
						signUpForm.get('city').touched
					">
					City is <strong>invalid</strong>
				</span>
				<span
					class="error-span"
					*ngIf="
						signUpForm.get('city').hasError('valid') &&
						signUpForm.get('city').touched
					">
					City is <strong>required</strong>
				</span>
			</mat-form-field>
			<!-- Country -->
			<mat-form-field>
				<mat-label>Select Country</mat-label>
				<mat-select
					formControlName="country"
					id="country"
					matInput>
					<mat-option
						*ngFor="let country of revisedCountries"
						[value]="country.name"
						>{{ country.emoji + ' ' + country.name }}</mat-option
					>
				</mat-select>
				<mat-error *ngIf="signUpForm.controls.type.errors?.required">
					Type is <strong>required</strong>
				</mat-error>
				<span class="info">Country will determine dialing code</span>
			</mat-form-field>
			<!-- Dialing Code & Telephone -->
			<div class="custom-field-wrapper">
				<div
					class="form-field-custom"
					style="display: flex">
					<label
						for="dialcode"
						class="dialcode-label"
						>Country Code
						<input
							type="text"
							matInput
							formControlName="dialingCode"
							name="dialcode"
							[readonly]="disabledDialingCode"
							class="dialing-code"
							(focusout)="displayConcatNumber()"
							placeholder="" />
					</label>
					<label
						for="tel_phone"
						class="tel-label"
						[class.error]="
							(signUpForm.get('tel_phone').hasError('required') ||
								signUpForm.get('tel_phone').hasError('pattern')) &&
							signUpForm.get('tel_phone').touched
						"
						>Telephone (without country code)
						<input
							class="tel-field"
							type="email"
							matInput
							formControlName="tel_phone"
							name="tel_phone"
							(focusout)="displayConcatNumber()"
							[class.error]="
								(signUpForm.get('tel_phone').hasError('pattern') ||
									signUpForm.get('tel_phone').hasError('required')) &&
								signUpForm.get('tel_phone').touched
							"
							placeholder="Ex. 01245554445" />
					</label>
				</div>
				<span
					class="error-span"
					*ngIf="
						signUpForm.get('tel_phone').hasError('pattern') &&
						signUpForm.get('tel_phone').touched
					">
					Phone Number is <strong>invalid</strong>
				</span>
				<span
					class="error-span"
					*ngIf="
						signUpForm.get('tel_phone').hasError('required') &&
						signUpForm.get('tel_phone').touched
					">
					Phone Number is <strong>required</strong>
				</span>
			</div>
			<!-- Slot Game Code -->
			<mat-form-field class="example-full-width">
				<mat-label>GAME CODE</mat-label>
				<input
					type="text"
					matInput
					formControlName="gameCode"
					[errorStateMatcher]="matcher"
					placeholder="Ex. 1234" />
				<div class="info-wrapper">
					<span class="info"
						>Please choose a GAME CODE with 3-8 simple characters and no spaces. (If
						the GAME CODE already exists we will add a '01' to it.)</span
					>
				</div>
				<mat-error *ngIf="signUpForm.controls.gameCode.errors?.required">
					GAME CODE is <strong>required</strong>
				</mat-error>
				<mat-error *ngIf="signUpForm.controls.gameCode.errors">
					GAME CODE must be <strong>letters and numbers only</strong>
				</mat-error>
			</mat-form-field>
			<br />
			<!-- Director's Key & Repeat Director's Key -->
			<mat-form-field>
				<mat-label>Director's Key</mat-label>
				<input
					[type]="hide ? 'password' : 'text'"
					matInput
					formControlName="directorKey"
					[errorStateMatcher]="matcher" />
				<mat-icon
					matSuffix
					(click)="hide = !hide">
					{{ hide ? 'visibility_off' : 'visibility' }}
				</mat-icon>
				<div class="info-wrapper">
					<span class="info">
						This key will be used often in session, so please choose a short
						memorable key
					</span>
				</div>

				<mat-error *ngIf="signUpForm.controls.directorKey.errors?.minlength">
					Director's Key Needs to be
					<strong>
						{{ signUpForm.controls.directorKey.errors?.minlength.requiredLength }}
						char long
					</strong>
				</mat-error>
				<mat-error *ngIf="signUpForm.controls.directorKey.errors?.required">
					Director's Key is <strong>required</strong>
				</mat-error>
			</mat-form-field>
			<mat-form-field>
				<mat-label>Repeat Director's Key</mat-label>
				<input
					[type]="hide ? 'password' : 'text'"
					matInput
					formControlName="directorKeyConfirm"
					[errorStateMatcher]="matcher" />
				<mat-icon
					matSuffix
					(click)="hide = !hide">
					{{ hide ? 'visibility_off' : 'visibility' }}
				</mat-icon>
				<mat-error
					*ngIf="signUpForm.controls.directorKeyConfirm.errors?.matchValidator">
					Director's Key Does Not
					<strong>Match</strong>
				</mat-error>
				<mat-error *ngIf="signUpForm.controls.directorKeyConfirm.errors?.required">
					Director's Key is <strong>required</strong>
				</mat-error>
			</mat-form-field>
			<!-- Usage -->
			<div
				radio-group
				class="radio-group">
				<mat-label class="field-heading">What is your intended useage?</mat-label>
				<mat-radio-group formControlName="usage">
					<mat-radio-button
						class="radio-button usage"
						*ngFor="let usage of usageList"
						[value]="usage.value"
						[class.error]="
							signUpForm.get('usage').hasError('required') &&
							signUpForm.get('usage').touched
						"
						>{{ usage.label }}</mat-radio-button
					>
				</mat-radio-group>
				<div class="info-wrapper">
					<span class="info"
						>We ask this to make a note on our records when we issue your game code,
						so that we can best support you with relevant content (ie not send you
						update information that has no relevance to your usage)
					</span>
				</div>
				<span
					class="error-span"
					*ngIf="
						signUpForm.get('usage').touched &&
						signUpForm.get('usage').hasError('required')
					">
					Intended usage is <strong>required</strong>
				</span>
			</div>

			<mat-radio-group
				class="radio-group"
				formControlName="feedback">
				<span class="field-heading feedback"
					>We are constantly developing our products to ensure our customers love
					our products and customer service so what you think really matters to us.
					Please tell us how you feel about giving feedback. Tick the box most
					relevant to you</span
				>
				<mat-radio-button
					class="radio-button feedback"
					*ngFor="let feedback of feedbacks"
					[value]="feedback.value"
					>{{ feedback.message }}</mat-radio-button
				>
				<!-- <mat-radio-button class="radio-button feedback"
					>I’m not sure please include me in research, but give me the chance to
					unsubscribe
				</mat-radio-button>
				<mat-radio-button class="radio-button feedback"
					>YES, I am willing to be contacted for feedback on my usage of IBEScore
				</mat-radio-button>
				<mat-radio-button class="radio-button feedback"
					>YES. I love the App and will be happy to help get the word out to bridge
					players
				</mat-radio-button>
				<mat-radio-button class="radio-button feedback"
					>YES, I will rate the app in the App stores
				</mat-radio-button>
				<mat-radio-button class="radio-button feedback"
					>YES, I am happy for you to publish my feedback in written endorsements
				</mat-radio-button>
				<mat-radio-button class="radio-button feedback"
					>I will not give feedback and do not wish to be asked
				</mat-radio-button> -->
				<div class="info-wrapper">
					<span class="info"
						>Please respond to this question with confidence that we will never
						publish anything that identifies you without gaining your specific
						consent.</span
					>
				</div>
			</mat-radio-group>

			<mat-form-field>
				<mat-label>Comments</mat-label>
				<textarea
					matInput
					formControlName="comments"></textarea>
			</mat-form-field>
			<!-- User 'heard' feedback-->
			<span class="field-heading">Please tell us how you heard about IBEScore</span>
			<mat-form-field>
				<mat-label>Type here..</mat-label>
				<textarea
					matInput
					formControlName="howHeard"></textarea>
				<mat-error *ngIf="signUpForm.controls.howHeard.errors?.required">
					Please make a choice</mat-error
				>
			</mat-form-field>
		</form>
		<br />

		<div class="bottom-section">
			<div
				class="button-wrapper"
				mat-dialog-actions>
				<button
					class="ok"
					mat-flat-button
					[disabled]="this.signUpForm.invalid"
					color="success"
					(click)="submitForm()"
					cdkFocusInitial>
					Ok
				</button>
				<button
					mat-flat-button
					color="warn"
					(click)="onNoClick()">
					Cancel
				</button>
			</div>

			<div class="error-summary">
				<span
					*ngIf="this.signUpForm.touched && this.signUpForm.invalid"
					[class.error]="this.signUpForm.touched && this.signUpForm.invalid"
					>Please correct the following:</span
				>
				<ul
					class="error-summary"
					[class.error]="isFormInvalid && signUpForm.dirty"
					*ngIf="isFormInvalid && signUpForm.dirty">
					<li *ngIf="signUpForm.get('firstName').hasError('required')">
						First Name Required
					</li>
					<!-- <li *ngIf="signUpForm.get('firstName').hasError('invalid')">
						First Name Invalid
					</li> -->
					<li *ngIf="signUpForm.get('lastName').hasError('required')">
						Last Name Required
					</li>
					<!-- <li *ngIf="signUpForm.get('lastName').hasError('invalid')">
						Last Name Invalid
					</li> -->
					<li *ngIf="signUpForm.get('email').hasError('required')">
						Email Required
					</li>
					<li *ngIf="signUpForm.get('email').hasError('invalid')">Email Invalid</li>
					<li *ngIf="signUpForm.get('type').hasError('required')">Type Required</li>
					<li *ngIf="signUpForm.get('city').hasError('invalid')">City Required</li>
					<li *ngIf="signUpForm.get('country').hasError('required')">
						Country Required
					</li>
					<li *ngIf="signUpForm.get('country').hasError('invalid')">
						Country Invalid
					</li>

					<li *ngIf="signUpForm.get('tel_phone').hasError('required')">
						Telephone Required
					</li>
					<li *ngIf="signUpForm.get('tel_phone').hasError('invalid')">
						Telephone Invalid
					</li>
					<li *ngIf="signUpForm.get('gameCode').hasError('required')">
						Game Code Required
					</li>
					<li *ngIf="signUpForm.get('gameCode').hasError('invalid')">
						Game Code Invalid
					</li>
					<li *ngIf="signUpForm.get('directorKey').hasError('required')">
						Director's Key Required
					</li>
					<li *ngIf="signUpForm.get('directorKey').hasError('invalid')">
						Director's Key Invalid
					</li>
					<li *ngIf="signUpForm.get('directorKeyConfirm').hasError('required')">
						Director's Keys Do Not Match
					</li>
					<li *ngIf="signUpForm.get('directorKeyConfirm').hasError('invalid')">
						Director's Keys Do Not Match
					</li>
					<li *ngIf="signUpForm.get('usage').hasError('required')">
						Usage Required
					</li>
					<li *ngIf="signUpForm.get('feedback').hasError('required')">
						Please Provide Feedback Choice
					</li>
					<li *ngIf="signUpForm.get('howHeard').hasError('required')">
						Please Let Us Know How You heard About Us
					</li>
				</ul>
			</div>
		</div>
	</div>
	<!-- <div class="button-wrapper">
		<button
			mat-flat-button
			color="accent"
			(click)="sendTest()">
			send test
		</button>
		<button
			mat-flat-button
			(click)="counter()"
			color="accent">
			Increment {{ registrationService.testCounter }}
		</button>
		<button
			mat-flat-button
			color="accent"
			(click)="dialCodeTest()">
			dial code test
		</button>
	</div> -->
</div>
