<!-- Sign Up Form -->
<div class="container">
	<div class="heading-wrapper">
		<h1 mat-dialog-title>Register For IBEScore</h1>
	</div>

	<div class="form-container">
		<form
			class="example-form sign-up"
			[formGroup]="signUpForm"
			*ngIf="data.type == 'signUp'">
			<!-- Name Fields -->
			<mat-form-field>
				<mat-label>First Name</mat-label>
				<input
					type="text"
					matInput
					formControlName="first_name"
					[errorStateMatcher]="matcher"
					placeholder="Ex. John Doe" />
				<mat-error *ngIf="signUpForm.controls.first_name.errors?.required">
					First name <strong>required</strong>
				</mat-error>
			</mat-form-field>
			<mat-form-field>
				<mat-label>Last Name</mat-label>
				<input
					type="text"
					matInput
					formControlName="last_name"
					[errorStateMatcher]="matcher"
					placeholder="Ex. John Doe" />
				<mat-error *ngIf="signUpForm.controls.last_name.errors?.required">
					Last name <strong>required</strong>
				</mat-error>
			</mat-form-field>
			<!-- Email -->
			<mat-form-field class="example-full-width">
				<mat-label>Contact Email</mat-label>
				<input
					type="email"
					matInput
					formControlName="email"
					[errorStateMatcher]="matcher"
					placeholder="Ex. pat@example.com" />

				<mat-error *ngIf="signUpForm.controls.email.errors?.required">
					Email is <strong>required</strong>
				</mat-error>
				<mat-error *ngIf="signUpForm.controls.email.errors?.email">
					Valid email is <strong>required</strong>
				</mat-error>
				<span class="info"
					>This is the email address we will use to send your game code details and
					communicate with you about your account with IBEScore</span
				>
			</mat-form-field>
			<!-- <span class="info"
				>This is the email address we will use to send your game code details and
				communicate with you about your account with IBEScore</span
			> -->
			<!-- Subscription Type -->
			<span class="field-heading"
				>Which subscription are you intending to purchase after the trial period
				ends?<strong
					[class.error]="
						signUpForm.get('type').hasError('required') &&
						signUpForm.get('type').touched
					"
					class="required">
					*</strong
				></span
			><mat-radio-group formControlName="type">
				<mat-label class="field-heading">Choose Subscription Type</mat-label>
				<mat-radio-button
					class="radio-button type"
					*ngFor="let accountType of accountTypes"
					value="{{ accountType.typeCode }}"
					[class.error]="
						signUpForm.get('type').hasError('required') &&
						signUpForm.get('type').touched
					"
					>{{ accountType.name
					}}<span class="info"><br />{{ accountType.message }}<br /></span
				></mat-radio-button>
			</mat-radio-group>
			<!-- <mat-form-field>
				<mat-label>Choose subscription type</mat-label>
				<mat-select
					formControlName="type"
					matInput
					[class.error]="
						signUpForm.get('type').hasError('required') &&
						signUpForm.get('type').touched
					">
					<mat-option
						*ngFor="let accountType of accountTypes"
						value="{{ accountType.typeCode }}">
						{{ accountType.name }}
					</mat-option>
				</mat-select>
				<mat-error *ngIf="signUpForm.controls.type.errors?.required">
					Type is <strong>required</strong>
				</mat-error>
			</mat-form-field> -->

			<!-- City -->
			<mat-form-field>
				<mat-label>City</mat-label>
				<input
					type="text"
					matInput
					formControlName="city" />
				<span
					class="error-span"
					*ngIf="
						signUpForm.get('tel_phone').hasError('pattern') &&
						signUpForm.get('tel_phone').touched
					">
					City is <strong>invalid</strong>
				</span>
				<span
					class="error-span"
					*ngIf="
						signUpForm.get('tel_phone').hasError('required') &&
						signUpForm.get('tel_phone').touched
					">
					City is <strong>required</strong>
				</span>
			</mat-form-field>
			<!-- Country -->
			<mat-form-field>
				<mat-label>Select Country</mat-label>
				<mat-select
					formControlName="country"
					id="country"
					matInput>
					<mat-option
						*ngFor="let country of revisedCountries"
						[value]="country.name"
						>{{ country.emoji + ' ' + country.name }}</mat-option
					>
				</mat-select>
				<mat-error *ngIf="signUpForm.controls.type.errors?.required">
					Type is <strong>required</strong>
				</mat-error>
				<span class="info">Country will determine dialing code</span>
			</mat-form-field>
			<!-- Dialing Code & Telephone -->
			<div class="custom-field-wrapper">
				<div
					class="form-field-custom"
					style="display: flex">
					<label
						for="dialcode"
						class="dialcode-label"
						>Country Code
						<input
							type="text"
							matInput
							formControlName="dialingCode"
							name="dialcode"
							[readonly]="disabledDialingCode"
							class="dialing-code"
							(focusout)="displayConcatNumber()"
							[class.error]="
								signUpForm.get('dialingCode').invalid &&
								signUpForm.get('dialingCode').touched
							"
							placeholder="" />
					</label>
					<label
						for="tel_phone"
						class="tel-label"
						[class.error]="
							(signUpForm.get('tel_phone').hasError('required') ||
								signUpForm.get('tel_phone').hasError('pattern')) &&
							signUpForm.get('tel_phone').touched
						"
						>Telephone (without country code)
						<input
							class="tel-field"
							type="email"
							matInput
							formControlName="tel_phone"
							name="tel_phone"
							(focusout)="displayConcatNumber()"
							[class.error]="
								(signUpForm.get('tel_phone').hasError('pattern') ||
									signUpForm.get('tel_phone').hasError('required')) &&
								signUpForm.get('tel_phone').touched
							"
							placeholder="Ex. 01245554445" />
					</label>
				</div>
				<span
					class="error-span"
					*ngIf="
						signUpForm.get('tel_phone').hasError('pattern') &&
						signUpForm.get('tel_phone').touched
					">
					Phone Number is <strong>invalid</strong>
				</span>
				<span
					class="error-span"
					*ngIf="
						signUpForm.get('tel_phone').hasError('required') &&
						signUpForm.get('tel_phone').touched
					">
					Phone Number is <strong>required</strong>
				</span>
			</div>
			<!-- Slot Game Code -->
			<mat-form-field class="example-full-width">
				<mat-label>GAME CODE</mat-label>
				<input
					type="text"
					matInput
					formControlName="slot"
					[errorStateMatcher]="matcher"
					placeholder="Ex. 1234" />
				<mat-error *ngIf="signUpForm.controls.slot.errors?.required">
					Slot is <strong>required</strong>
				</mat-error>
				<mat-error *ngIf="signUpForm.controls.slot.errors">
					Valid Slot must be <strong>letters and numbers only</strong>
				</mat-error>
				<mat-error *ngIf=""></mat-error>
				<mat-hint>Choose or a GAME CODE, or one will be chosen for you</mat-hint>
			</mat-form-field>
			<br />
			<!-- Director's Key & Repeat Director's Key -->
			<mat-form-field>
				<mat-label>Director's Key</mat-label>
				<input
					type="password"
					matInput
					formControlName="password"
					[errorStateMatcher]="matcher" />
				<mat-error *ngIf="signUpForm.controls.password.errors?.minlength">
					Director's Key Needs to be
					<strong>
						{{ signUpForm.controls.password.errors?.minlength.requiredLength }} char
						long
					</strong>
				</mat-error>
				<mat-error *ngIf="signUpForm.controls.password.errors?.required">
					Director's Key is <strong>required</strong>
				</mat-error>
			</mat-form-field>
			<mat-form-field>
				<mat-label>Repeat Director's Key</mat-label>
				<input
					type="password"
					matInput
					formControlName="password_confirm"
					[errorStateMatcher]="matcher" />
				<mat-error
					*ngIf="signUpForm.controls.password_confirm.errors?.matchValidator">
					Director's Key Does Not
					<strong>Match</strong>
				</mat-error>
				<mat-error *ngIf="signUpForm.controls.password_confirm.errors?.required">
					Director's Key is <strong>required</strong>
				</mat-error>
			</mat-form-field>
			<!-- Usage -->
			<div
				radio-group
				class="radio-group">
				<mat-label class="field-heading">What is your intended useage?</mat-label>
				<mat-radio-group formControlName="usage">
					<mat-radio-button
						class="radio-button usage"
						*ngFor="let usage of usageList"
						[value]="usage.value"
						[checked]="usage.checked"
						[class.error]="
							signUpForm.get('usage').hasError('required') &&
							signUpForm.get('usage').touched
						"
						>{{ usage.label }}</mat-radio-button
					>
				</mat-radio-group>
				<div class="info-wrapper">
					<span class="info"
						>We ask this to make a note on our records when we issue your game code,
						so that we can best support you with relevant content (ie not send you
						update information that has no relevance to your usage)
					</span>
				</div>
				<span
					class="error-span"
					*ngIf="
						signUpForm.get('usage').touched &&
						signUpForm.get('usage').hasError('required')
					">
					Intended usage is <strong>required</strong>
				</span>
			</div>

			<mat-radio-group
				class="radio-group"
				formControlName="feedback">
				<span class="field-heading feedback"
					>We are contantly developing our products to ensure our customers love our
					products and customer service so what you think really matters to us.
					Please tell us how you feel about giving feedback. Tick the box most
					relevant to you</span
				>
				<mat-radio-button
					class="radio-button feedback"
					*ngFor="let feedback of feedbacks"
					[value]="feedback.value"
					>{{ feedback.message }}</mat-radio-button
				>
				<!-- <mat-radio-button class="radio-button feedback"
					>I’m not sure please include me in research, but give me the chance to
					unsubscribe
				</mat-radio-button>
				<mat-radio-button class="radio-button feedback"
					>YES, I am willing to be contacted for feedback on my usage of IBEScore
				</mat-radio-button>
				<mat-radio-button class="radio-button feedback"
					>YES. I love the App and will be happy to help get the word out to bridge
					players
				</mat-radio-button>
				<mat-radio-button class="radio-button feedback"
					>YES, I will rate the app in the App stores
				</mat-radio-button>
				<mat-radio-button class="radio-button feedback"
					>YES, I am happy for you to publish my feedback in written endorsements
				</mat-radio-button>
				<mat-radio-button class="radio-button feedback"
					>I will not give feedback and do not wish to be asked
				</mat-radio-button> -->
				<div class="info-wrapper">
					<span class="info"
						>Please respond to this question with confidence that we will never
						publish anything that identifies you without gaining your specific
						consent.</span
					>
				</div>
			</mat-radio-group>

			<mat-form-field>
				<mat-label>Comments</mat-label>
				<textarea
					matInput
					formControlName="comments"></textarea>
			</mat-form-field>
			<!-- User 'heard' feedback-->
			<span class="field-heading">Please tell us how you heard about IBEScore</span>
			<mat-form-field>
				<mat-label>Type here..</mat-label>
				<textarea
					matInput
					formControlName="howHeard"></textarea>
				<mat-error
					*ngIf="signUpForm.controls.howHeard.errors?.required"></mat-error>
			</mat-form-field>
		</form>
		<div
			class="button-wrapper"
			mat-dialog-actions>
			<button
				class="ok"
				mat-flat-button
				[disabled]="this.signUpForm.invalid"
				color="success"
				(click)="submitForm()"
				cdkFocusInitial>
				Ok
			</button>
			<button
				mat-flat-button
				color="warn"
				(click)="onNoClick()">
				Cancel
			</button>
		</div>
		<br />
		<span
			*ngIf="this.signUpForm.touched && this.signUpForm.invalid"
			[class.error]="this.signUpForm.touched && this.signUpForm.invalid"
			>You must fill in all the fields.</span
		>
	</div>
</div>
